.dashboard-card {
  border: 1px solid #e2e8f0;
  padding: 24px;
  box-shadow: 0px 7.5px 17.5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 24px;
  width: 100% !important;
}

.dashboard-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dashboard-card .dashboard-card-body .appointment-list .appointment-item:hover {
  background-color: rgb(247, 242, 242);
  border-radius: 10px;
}

.header-title h5 {
  margin: 0;
}

.header-dropdown .nav-tog {
  cursor: pointer;
}

.patient-info-profile {
  display: flex;
  align-items: center;
}

.table-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.patient-name-info {
  display: flex;
  flex-direction: column;
}

.patient-name-info h5 {
  margin: 0;
}

.appointment-date-created {
  text-align: right;
}

.appointment-date-created h6 {
  margin: 0;
}

.badge {
  /* border-radius: 0.25rem; */
  background-color: #14b8a6;
  /* margin-left: 0px; */
}

.apponiment-actions a {
  font-size: 1.15em;
  cursor: pointer;
}

.text-success-icon {
  color: var(--bs-success);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid var(--bs-success);
}
.text-success-icon:hover {
  background-color: var(--bs-success);
  color: #fff;
}

.text-danger-icon {
  color: var(--bs-danger);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 3px;
  padding-left: 5px;
  border: 1px solid var(--bs-danger);
}

.text-danger-icon:hover {
  background-color: var(--bs-danger);
  color: #fff;
}

.appointment-list {
  display: flex;
  flex-direction: column;
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e2e8f0;
}

.appointment-item:last-child {
  border-bottom: none;
}

@media (max-width: 500px) {
  .dashboard-card .dashboard-card-body .appointment-list {
    overflow-x: auto;
  }
  .table-avatar img {
    margin-right: 35px;
  }
}
