.rbt-dashboard-content .content .row {
  display: flex;
  justify-content: space-between;
}

.rbt-dashboard-content .content .row .performance-conatiner {
  border: 1px solid grey;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  padding: 10px;
  width: 180px;
}

.rbt-dashboard-content
  .content
  .row
  .performance-conatiner
  .performance-two-part {
  display: flex;
}

.rbt-dashboard-content
  .content
  .row
  .performance-conatiner
  .performance-two-part
  span {
  margin-left: 20px;
  color: red;
}



@media (max-width: 400px) {
  .rbt-dashboard-content .content .row .performance-conatiner {
  border: 1px solid grey;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
}
}
