.dashboard-card-invoices {
  font-family: "Inter", sans-serif;
  color: var(--bs-gray-700);
  line-height: 1.5;
  font-size: 13px;
  padding: 24px;
  border: 1px solid var(--bs-gray-200);
  border-radius: 10px;
  box-shadow: 0px 7.5px 17.5px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}

.dashboard-card-head-invoices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-title-invoices h5 {
  margin: 0;
  font-size: 18px;
  color: var(--bs-gray-700);
}

.card-view-link a {
  color: #3eb75e;
  text-decoration: none;
  font-size: 14px;
}

.card-view-link a:hover {
  text-decoration: underline;
}

.dashboard-card-body-invoices {
  padding: 0;
}

.invoice-list-invoices .invoice-item-invoices {
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
  border-top: 1px solid var(--bs-gray-200);
  transition: 0.3s ease;
}

.invoice-list-invoices .invoice-item-invoices:hover {
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  transform: translateY(-5px);
}

.patient-info-profile-invoices {
  display: flex;
  align-items: center;
}

.table-avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.table-avatar2 img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.patient-name-info-invoices {
  margin-left: 12px;
}

.patient-name-info-invoices h5 {
  margin: 0;
  font-size: 16px;
  color: var(--bs-gray-700);
}

.patient-name-info-invoices span {
  color: #1da1e6;
  font-size: 12px;
}

.patient-name-info-invoices h5 {
  font-size: 15px;
}

.appointment-date-created-invoices {
  margin-left: auto;
}

.appointment-date-created-invoices span {
  font-size: 15px;
}

.appointment-date-created-invoices .paid-text-invoices-amount {
  font-size: 15px;
}

.apponiment-view {
  margin-left: auto;
}

.apponiment-view a {
  color: black;
  background-color: rgb(194, 186, 186);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
}

.apponiment-view a:hover {
  background-color: #1da1e6;
  color: #fff;
}

.fa-eye {
  font-size: 16px;
}

@media (max-width: 500px) {
  .invoice-list-invoices {
    overflow-x: auto;
  }
  .invoice-item-invoices {
    width: 500px;
  }
  .appointment-date-created-invoices {
    text-align: center;
    /* margin-top: 20px;
    margin-bottom: 10px; */
  }
}
