/* .dashboard-header {
  font-weight: var(--bs-body-font-weight);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
  color: #6b7280;
  line-height: 1.5;
  font-size: 14px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  box-sizing: border-box;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0;
  margin-bottom: 24px;
  padding-bottom: 14px;
  flex-wrap: wrap;
}

.dashboard-header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #343a40;
} */

.dashboard-header h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--bs-body-color);
  margin-bottom: 1rem;
}

.search-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.search-field {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.search-field .form-control {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding-right: 2.5rem;
  border-radius: var(--bs-border-radius);
  height: 40px;
}

.search-field .search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: var(--bs-secondary-color);
}

.custom-table .table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-body-color);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
}

.custom-table .table th,
.custom-table .table td {
  padding: 1rem;
  vertical-align: middle;
  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color);
  border: none;
}

.custom-table .table th {
  font-weight: 600;
  background-color: #e2e8f0;
}

.custom-table .table td {
  font-weight: 400;
}

.custom-table .table .avatar {
  text-align: center;
}

.custom-table .avatar .avatar-img {
  width: 35px;
  height: 35px;
  /* border-radius: var(--bs-border-radius-pill); */
}

.custom-table .action-item a {
  color: var(--bs-secondary-color);
  margin-right: 0.5rem;
}

.custom-table .action-item a:hover {
  color: var(--bs-primary);
}

.pagination.dashboard-pagination {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.pagination.dashboard-pagination ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination.dashboard-pagination ul li {
  margin: 0 0.25rem;
}

.pagination.dashboard-pagination .page-link {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  text-decoration: none;
}

.pagination.dashboard-pagination .page-link:hover {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.pagination.dashboard-pagination .page-link.active {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
