.dashboard-header {
  font-weight: var(--bs-body-font-weight);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
  color: #6b7280;
  line-height: 1.5;
  font-size: 14px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  box-sizing: border-box;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0;
  margin-bottom: 24px;
  padding-bottom: 14px;
  flex-wrap: wrap;
}

.dashboard-header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #343a40;
}
