.container {
  margin-top: 10px;
  margin-bottom: 350px;
}

.container .dropdown button {
  width: 200px;
  font-size: 15px;
}

.container .dropdown .dropdown-menu {
  width: 200px;
  overflow-y: auto;
}
